:root{
    --color-white:white;
    --color-black-dark:rgba(0, 0, 0, 0.5);
    --color-black-dark-3:rgba(0, 0, 0, 0.75);
    --color-black-dark-2:rgba(0, 0, 0, 0.9);
    --color-blue-dark:#0B1D26;
    --color-gray-dark: hsla(240, 8%, 5%, 1);
    --color-gray-lite:#CED2D4;
    --color-black: #000000;
    --color-white-lite:rgba(255, 255, 255, 0.75);
    --color-white-lite-2:rgba(255, 255, 255, 0.5);
    --color-black-2:#020202;
    --color-white-lite:#EBECEE;
    --color-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0) 49.48%, #020202 100%);
    --color-gradient-2:linear-gradient(180deg, #EBEEED 0%, rgba(235, 238, 237, 0) 48.96%, #EBECEE 100%);
}
$colors : white,black-dark,black-dark-3,gray,blue-dark,gray-dark,gray-lite,black,white-lite, white-lite,white-lite-2,gradient,gradient-;
@each $color in $colors {
    .color-#{$color}{
        color: var(--color-#{$color})
    }
    .border-color-#{$color}{
        border-color: var(--color-#{$color})
    }
    .bg-#{$color}{
        background-color: var(--color-#{$color})
    }
};