@for $var from 1 to 250 {
    .font-#{$var}{
        font-size: #{pxToRem($var * 1px)};
    }
}
@for $var from 1 to 10 {
    .font-w-#{calc($var * 100)}{
        font-weight: calc($var * 100);
    }
}
.font-italiana{
    font-family: italiana;
}
.font-montserrat{
    font-family: montserrat;
    
}