html{
    font-size: 8px;
    @media (min-width:575px) {
        font-size: 11px;
    }
    @media (min-width:767px) {
        font-size: 12px;
    }
    @media (min-width:992px) {
        font-size: 14px;
    }
    @media (min-width:1440px) {
        font-size: 16px;
    }
    @media (min-width:1660px) {
        font-size: 20px;
    }
    @media (max-width:991px) {
        --ph-movil:15px
    }
}