*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    outline: none;
}
h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
input,textarea{
    outline: none;
}