.banner{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    @media (max-width:991px) {
        --pl-span:0;
    }
    &-content{
        border-radius: ptr(20px)  ptr(20px) 0 0;
        padding: ptr(73px) var(--ph-movil,#{ptr(90px)}) ptr(166px);
        position: relative;
        min-height: 64vh;
    }
    &-fondo{
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        &-img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
        }
    }
    &-buttom{
        width: ptr(100px);
        position: absolute;
        left: 0;
        right: 0;
        bottom: ptr(66px);
        margin: auto;
        cursor: pointer;
        img{
            width: ptr(100px);
        }
        @media (max-width:575px) {
            bottom: ptr(20px);
            
        }
    }
    //variation of banner
    &-gradient-1{
        .banner-content{
            background: transparent;
        }
        .banner-content-title{
            color: var(--color-black);
        }
        .banner-fondo{
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                background:var(--color-gradient);
                position: absolute;
                z-index: 1;
            }
        }

    }
    &-variation-2{
        .banner-content{
            background: transparent;
        }
        .banner-content-title{
            color: var(--color-black);
        }
        .banner-buttom{
            img{
                filter: brightness(0);
            }

        }
    }

    &-variation-4{
        .banner-content-title{
            color: var(--color-white);
        }
    }
   
}

