.contacts{
    position: relative;
    &-img{
        &,& img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            display: block;
            z-index: -1;
        }
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
    }
    &-void{
        flex: 5;
    }
    &-content{
        flex: 7;
        text-align: right;
        @media (max-width:991px) {
            text-align: left;
        }
    }
    @media (max-width:991px) { 
        &-void{
            flex: 0;
        }
        &-content{
            flex: 12;
        }
    }
    &-title{
    }
    &-info{
        margin-bottom: ptr(50px);
    }
    &-input{
        margin-left: auto;
        margin-bottom: ptr(50px);
        width: ptr(510px);
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: ptr(50px);
        border-width: ptr(5px);
        border-style: solid;
        padding: ptr(17px) ptr(33px);
        @media (max-width:991px) {
            width: 100%;
        }

        &.submit{
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
        }
    }
}