.contentInfo{
    
    &-content{
        border-radius: 0 0 ptr(20px) ptr(20px);
        border: 0;
        padding: ptr(63px) var(--ph-movil,#{ptr(90px)});
    }
    &-title{
        float: left;
        width: 100%;
        max-width: ptr(630px);
        @media (max-width:767px) {
            float: none;
            max-width: 100%;
        }
    }
    &-info{

    }
    //variation
    &-variation-3{
        .contentInfo-content{
            background: var(--color-black-dark-3);
        }
        .contentInfo-title{
            color: var(--color-white);
        }
        .contentInfo-info{
            color: var(--color-white);
        }
    }
    &-border{
        .contentInfo-content{
            border-radius: ptr(20px) ptr(20px) 0 0;

        }
    }

    //variation
    &-float-left{
        .contentInfo-title{
            float: right;
        }
    }
}