.contacts2{
    position: relative;
    &-img{
        &,& img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            display: block;
            z-index: -1;
        }
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
    }
    &-content{
       display: flex;
       flex-wrap: wrap;
       gap: 0 15px;
    }
    @media (max-width:991px) { 
        &-void{
            flex: 0;
        }
        &-content{
            flex: 12;
        }
    }
    
    &-info{
        text-align: center;
        flex-basis: 100%;
        margin-bottom: ptr(76px);
    
    }
    .content-submit{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-content-input{
        flex: 6;
        @media (max-width:991px) {
            flex-basis: 100%;;
        }
    }
    .input-textarea{
        flex: 6;
    }
    &-input{
        margin-left: auto;
        margin-bottom: ptr(48px);
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: ptr(50px);
        border-width: ptr(5px);
        border-style: solid;
        padding: ptr(17px) ptr(33px);
        @media (max-width:991px) {
            width: 100%;
        }

        &.submit{
            width: ptr(510px);
            min-width: 50%;
            max-width: 100%;
            margin: auto;
            cursor: pointer;
            @media (max-width:767px) {
                width: 100%;
            }
        }
    }
}