
.container{
    width: 1275px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    @media (max-width:991px) {
        width: 760px;
        
    }
    @media (max-width:767px) {
        width: 560px;
        
    }
}