.container-img{
    position: relative;
    min-height: min(1208px, 62vw);
    display: flex;
    &-fondo{
        &,&-img{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &-img{
            clip-path: polygon(54% 0, 100% 0, 50% 100%, 0% 100%);
        }
    }
    &-info{
        position: relative;
        display: flex;
        flex-wrap: wrap;    
        flex-direction: column;
        justify-content: space-between;
        padding: pxToRem(20px) 0;
        &-title{
            width: min(575px,100%);
        
            
        }
        &-text{
            width: min(632px,100%);

        }
        &-2{
            text-align: right;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
        }
    }
}