.footer{
    padding: ptr(50px) 0;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    &-content{
        display: flex;
        flex-wrap: wrap;
        &-col{
            flex:4;
            @media (max-width:575px){
                flex-basis: 50%;
            }
        }
        &-logo{
            flex:4;
            @media (max-width:575px){
                flex-basis: 100%;
                text-align: center;
            }
            img{
                width: ptr(219px);
            }
        }
        &-title{
            margin-bottom: ptr(19px);

        }
        &-link{
            display: block;
            margin-bottom: pxToRem(16px);
        }
        
    }
   
    
}