.header{
    padding: ptr(14px) 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: ptr(89px);
    z-index: 10;
    &-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    &-content-logo{
        flex:2;
        .header-logo{
            width: ptr(61px);
        }
    }
    &-btn{  
        $size:10px;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: ptr($size * 7);
        height: ptr($size * 5);
        &::before{
            content: "";
            display: block;
            width: ptr($size * 7);
            height: ptr($size);
            background-color: var(--color-white);
            color:var(--color-white);
            box-shadow: 0 ptr($size * 2),0 ptr($size * -2);
        }
        @media (min-width:992px) {
            display: none;
        }
    }
    &-nav{
        flex:10;
        @media (max-width:991px) {
            position: fixed;
            width: 100%;
            height: calc(100% - #{ptr(89px)});
            left: 0;
            top: ptr(89px);
            background-color: var(--color-black-dark-2);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .5s;
            transform: translateY(-100vh);
            .nav-link{
                font-size: 2em;
                &:not(:last-child){
                    margin-bottom: ptr(20px);
                }
            }
        }
        .nav-link{
            padding: 0 ptr(6px);
        }
    }
 }
html.activeMenu{
    overflow: hidden;
    .header{
        background-color: var(--color-black-dark-2);
        &-nav{
            @media (max-width:991px) {
                transform: none;
            }
        }
    }
}