.servicesInfo{
    
    &-content{
        margin-bottom: ptr(106px);
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        &:nth-child(2n){
            flex-direction: row-reverse;
        }
        &-imgTitle{
            flex:6;
            &-title{
                margin-bottom: ptr(32px);
            }
            &-img{
                display: block;
                img{
                    width: ptr(615px);
                    max-width: 100%;

                }
            }
            
        }
        &-info{
            flex:6;
                @media (max-width:991px) {
                    display: inline-block;
                }
        }
    }
}