.services{
    &-container{
    }
    &-content{
        &-1{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: wrap;
            min-height: ptr(960px);
            position: relative;
            .container{
                margin-bottom: 0;
            }
            &-title{
                padding-bottom: ptr(152px);
                text-align: center;
            } 
        }
        &-2{
            padding-bottom: ptr(301px);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-link{ 

                &-info{ 
                    flex:4;
                    flex-basis: 33.3%;
                    margin-bottom: ptr(32px);

                    @media (max-width:767px){
                        flex-basis: 50%;
                    }
                    @media (max-width:575px){
                        flex-basis: 100%;
                    }

                    &::before{
                        content: "";
                        border-radius: 100%;
                        width: ptr(24px);
                        height: ptr(24px);
                        display: inline-block;
                        background-color: var(--color-black);
                    }
                }
            }

        }
    }
    &-img{
        &::before{
            content: "";
            background : var(--color-gradient-2);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: 1;
        }
        &,& img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            display: block;
            z-index: -1;
        }
    }
    
}