.ItemSlider{
    position: relative;
    width: 100vw;
    min-height: 100vh;

    &-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        text-align: center;

    }

    &-title{
        padding-top: ptr(172px);
    }
    &-img{
        &,& img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
            z-index: -1;
            display: block;
        }
    }
    &-btn{
        max-width: 100%;
        width: ptr(580px);
        padding: ptr(17px);
        border-radius: ptr(50px);
        border-width: ptr(5px);
        border-style: solid;
        text-align: center;
    }
}
.slider{
    position: relative;
    &,& *{
        outline: none;
    }
    .flickity-button{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: ptr(100px);
        height: ptr(100px);
        background: transparent;
        border: 0;
        cursor: pointer;
        &:disabled{
            opacity: .3;
        }
        &.previous{
            left: 0;
        }
        &.next{
            right: 0;
            transform: rotateZ(180deg);
        }
        svg{
            @extend .btnHover;
            width: ptr(75px);
            height: auto;
        }
    
    }
    .flickity-page-dots{
        display: none;
    }

    //variation

    &-variation-5{
        
    }
}