.suscription{
    position: relative;
    padding-top: ptr(203px) ;
    padding-bottom: ptr(203px);
    &-img{
        &,& img{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
            object-position: center;
            display: block;
            z-index: -1;
        }
    }
    &-title{
        margin-bottom: ptr(100px);
        text-align: center;
        

    }
    &-content-inputs{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: ptr(15px);
        .void{
            flex: 1;
            @media (max-width:767px) {
                flex: 0;
            }
        }

    }
    &-input{
        position: relative;
        margin-bottom: ptr(50px);
        width: ptr(510px);
        max-width: 100%;
        display: block;
        border-radius: ptr(50px);
        border-width: ptr(5px);
        border-style: solid;
        padding: ptr(17px) ptr(33px);
        flex: 6;
        @media (max-width:575px) {
            flex-basis: 100%;
        }
        &.submit{
            cursor: pointer;
            flex: 4;
            @media (max-width:575px) {
                flex-basis: 100%;
            }
        }
    }
}