@font-face {
  font-family: montserrat;
  src: url("/font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  font-weight: 500;
  src: url("/font/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: montserrat;
  font-weight: 700;
  src: url("/font/Montserrat/Montserrat-Bold.ttf");
}
:root {
  --color-white:white;
  --color-black-dark:rgba(0, 0, 0, 0.5);
  --color-black-dark-3:rgba(0, 0, 0, 0.75);
  --color-black-dark-2:rgba(0, 0, 0, 0.9);
  --color-blue-dark:#0B1D26;
  --color-gray-dark: hsla(240, 8%, 5%, 1);
  --color-gray-lite:#CED2D4;
  --color-black: #000000;
  --color-white-lite:rgba(255, 255, 255, 0.75);
  --color-white-lite-2:rgba(255, 255, 255, 0.5);
  --color-black-2:#020202;
  --color-white-lite:#EBECEE;
  --color-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0) 49.48%, #020202 100%);
  --color-gradient-2:linear-gradient(180deg, #EBEEED 0%, rgba(235, 238, 237, 0) 48.96%, #EBECEE 100%);
}

.color-white {
  color: var(--color-white);
}

.border-color-white {
  border-color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.color-black-dark {
  color: var(--color-black-dark);
}

.border-color-black-dark {
  border-color: var(--color-black-dark);
}

.bg-black-dark {
  background-color: var(--color-black-dark);
}

.color-black-dark-3 {
  color: var(--color-black-dark-3);
}

.border-color-black-dark-3 {
  border-color: var(--color-black-dark-3);
}

.bg-black-dark-3 {
  background-color: var(--color-black-dark-3);
}

.color-gray {
  color: var(--color-gray);
}

.border-color-gray {
  border-color: var(--color-gray);
}

.bg-gray {
  background-color: var(--color-gray);
}

.color-blue-dark {
  color: var(--color-blue-dark);
}

.border-color-blue-dark {
  border-color: var(--color-blue-dark);
}

.bg-blue-dark {
  background-color: var(--color-blue-dark);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}

.border-color-gray-dark {
  border-color: var(--color-gray-dark);
}

.bg-gray-dark {
  background-color: var(--color-gray-dark);
}

.color-gray-lite {
  color: var(--color-gray-lite);
}

.border-color-gray-lite {
  border-color: var(--color-gray-lite);
}

.bg-gray-lite {
  background-color: var(--color-gray-lite);
}

.color-black {
  color: var(--color-black);
}

.border-color-black {
  border-color: var(--color-black);
}

.bg-black {
  background-color: var(--color-black);
}

.color-white-lite {
  color: var(--color-white-lite);
}

.border-color-white-lite {
  border-color: var(--color-white-lite);
}

.bg-white-lite {
  background-color: var(--color-white-lite);
}

.color-white-lite {
  color: var(--color-white-lite);
}

.border-color-white-lite {
  border-color: var(--color-white-lite);
}

.bg-white-lite {
  background-color: var(--color-white-lite);
}

.color-white-lite-2 {
  color: var(--color-white-lite-2);
}

.border-color-white-lite-2 {
  border-color: var(--color-white-lite-2);
}

.bg-white-lite-2 {
  background-color: var(--color-white-lite-2);
}

.color-gradient {
  color: var(--color-gradient);
}

.border-color-gradient {
  border-color: var(--color-gradient);
}

.bg-gradient {
  background-color: var(--color-gradient);
}

.color-gradient- {
  color: var(--color-gradient-);
}

.border-color-gradient- {
  border-color: var(--color-gradient-);
}

.bg-gradient- {
  background-color: var(--color-gradient-);
}

html {
  font-size: 8px;
}
@media (min-width: 575px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1660px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  html {
    --ph-movil:15px ;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
  margin-bottom: 0;
}

input, textarea {
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  background: var(--color-black-2);
  overflow: hidden;
  height: auto;
}

.idScroll {
  transform: translateY(-5.5625rem);
}

.font-1 {
  font-size: 0.0625rem;
}

.font-2 {
  font-size: 0.125rem;
}

.font-3 {
  font-size: 0.1875rem;
}

.font-4 {
  font-size: 0.25rem;
}

.font-5 {
  font-size: 0.3125rem;
}

.font-6 {
  font-size: 0.375rem;
}

.font-7 {
  font-size: 0.4375rem;
}

.font-8 {
  font-size: 0.5rem;
}

.font-9 {
  font-size: 0.5625rem;
}

.font-10 {
  font-size: 0.625rem;
}

.font-11 {
  font-size: 0.6875rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-13 {
  font-size: 0.8125rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-15 {
  font-size: 0.9375rem;
}

.font-16 {
  font-size: 1rem;
}

.font-17 {
  font-size: 1.0625rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-19 {
  font-size: 1.1875rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-21 {
  font-size: 1.3125rem;
}

.font-22 {
  font-size: 1.375rem;
}

.font-23 {
  font-size: 1.4375rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-25 {
  font-size: 1.5625rem;
}

.font-26 {
  font-size: 1.625rem;
}

.font-27 {
  font-size: 1.6875rem;
}

.font-28 {
  font-size: 1.75rem;
}

.font-29 {
  font-size: 1.8125rem;
}

.font-30 {
  font-size: 1.875rem;
}

.font-31 {
  font-size: 1.9375rem;
}

.font-32 {
  font-size: 2rem;
}

.font-33 {
  font-size: 2.0625rem;
}

.font-34 {
  font-size: 2.125rem;
}

.font-35 {
  font-size: 2.1875rem;
}

.font-36 {
  font-size: 2.25rem;
}

.font-37 {
  font-size: 2.3125rem;
}

.font-38 {
  font-size: 2.375rem;
}

.font-39 {
  font-size: 2.4375rem;
}

.font-40 {
  font-size: 2.5rem;
}

.font-41 {
  font-size: 2.5625rem;
}

.font-42 {
  font-size: 2.625rem;
}

.font-43 {
  font-size: 2.6875rem;
}

.font-44 {
  font-size: 2.75rem;
}

.font-45 {
  font-size: 2.8125rem;
}

.font-46 {
  font-size: 2.875rem;
}

.font-47 {
  font-size: 2.9375rem;
}

.font-48 {
  font-size: 3rem;
}

.font-49 {
  font-size: 3.0625rem;
}

.font-50 {
  font-size: 3.125rem;
}

.font-51 {
  font-size: 3.1875rem;
}

.font-52 {
  font-size: 3.25rem;
}

.font-53 {
  font-size: 3.3125rem;
}

.font-54 {
  font-size: 3.375rem;
}

.font-55 {
  font-size: 3.4375rem;
}

.font-56 {
  font-size: 3.5rem;
}

.font-57 {
  font-size: 3.5625rem;
}

.font-58 {
  font-size: 3.625rem;
}

.font-59 {
  font-size: 3.6875rem;
}

.font-60 {
  font-size: 3.75rem;
}

.font-61 {
  font-size: 3.8125rem;
}

.font-62 {
  font-size: 3.875rem;
}

.font-63 {
  font-size: 3.9375rem;
}

.font-64 {
  font-size: 4rem;
}

.font-65 {
  font-size: 4.0625rem;
}

.font-66 {
  font-size: 4.125rem;
}

.font-67 {
  font-size: 4.1875rem;
}

.font-68 {
  font-size: 4.25rem;
}

.font-69 {
  font-size: 4.3125rem;
}

.font-70 {
  font-size: 4.375rem;
}

.font-71 {
  font-size: 4.4375rem;
}

.font-72 {
  font-size: 4.5rem;
}

.font-73 {
  font-size: 4.5625rem;
}

.font-74 {
  font-size: 4.625rem;
}

.font-75 {
  font-size: 4.6875rem;
}

.font-76 {
  font-size: 4.75rem;
}

.font-77 {
  font-size: 4.8125rem;
}

.font-78 {
  font-size: 4.875rem;
}

.font-79 {
  font-size: 4.9375rem;
}

.font-80 {
  font-size: 5rem;
}

.font-81 {
  font-size: 5.0625rem;
}

.font-82 {
  font-size: 5.125rem;
}

.font-83 {
  font-size: 5.1875rem;
}

.font-84 {
  font-size: 5.25rem;
}

.font-85 {
  font-size: 5.3125rem;
}

.font-86 {
  font-size: 5.375rem;
}

.font-87 {
  font-size: 5.4375rem;
}

.font-88 {
  font-size: 5.5rem;
}

.font-89 {
  font-size: 5.5625rem;
}

.font-90 {
  font-size: 5.625rem;
}

.font-91 {
  font-size: 5.6875rem;
}

.font-92 {
  font-size: 5.75rem;
}

.font-93 {
  font-size: 5.8125rem;
}

.font-94 {
  font-size: 5.875rem;
}

.font-95 {
  font-size: 5.9375rem;
}

.font-96 {
  font-size: 6rem;
}

.font-97 {
  font-size: 6.0625rem;
}

.font-98 {
  font-size: 6.125rem;
}

.font-99 {
  font-size: 6.1875rem;
}

.font-100 {
  font-size: 6.25rem;
}

.font-101 {
  font-size: 6.3125rem;
}

.font-102 {
  font-size: 6.375rem;
}

.font-103 {
  font-size: 6.4375rem;
}

.font-104 {
  font-size: 6.5rem;
}

.font-105 {
  font-size: 6.5625rem;
}

.font-106 {
  font-size: 6.625rem;
}

.font-107 {
  font-size: 6.6875rem;
}

.font-108 {
  font-size: 6.75rem;
}

.font-109 {
  font-size: 6.8125rem;
}

.font-110 {
  font-size: 6.875rem;
}

.font-111 {
  font-size: 6.9375rem;
}

.font-112 {
  font-size: 7rem;
}

.font-113 {
  font-size: 7.0625rem;
}

.font-114 {
  font-size: 7.125rem;
}

.font-115 {
  font-size: 7.1875rem;
}

.font-116 {
  font-size: 7.25rem;
}

.font-117 {
  font-size: 7.3125rem;
}

.font-118 {
  font-size: 7.375rem;
}

.font-119 {
  font-size: 7.4375rem;
}

.font-120 {
  font-size: 7.5rem;
}

.font-121 {
  font-size: 7.5625rem;
}

.font-122 {
  font-size: 7.625rem;
}

.font-123 {
  font-size: 7.6875rem;
}

.font-124 {
  font-size: 7.75rem;
}

.font-125 {
  font-size: 7.8125rem;
}

.font-126 {
  font-size: 7.875rem;
}

.font-127 {
  font-size: 7.9375rem;
}

.font-128 {
  font-size: 8rem;
}

.font-129 {
  font-size: 8.0625rem;
}

.font-130 {
  font-size: 8.125rem;
}

.font-131 {
  font-size: 8.1875rem;
}

.font-132 {
  font-size: 8.25rem;
}

.font-133 {
  font-size: 8.3125rem;
}

.font-134 {
  font-size: 8.375rem;
}

.font-135 {
  font-size: 8.4375rem;
}

.font-136 {
  font-size: 8.5rem;
}

.font-137 {
  font-size: 8.5625rem;
}

.font-138 {
  font-size: 8.625rem;
}

.font-139 {
  font-size: 8.6875rem;
}

.font-140 {
  font-size: 8.75rem;
}

.font-141 {
  font-size: 8.8125rem;
}

.font-142 {
  font-size: 8.875rem;
}

.font-143 {
  font-size: 8.9375rem;
}

.font-144 {
  font-size: 9rem;
}

.font-145 {
  font-size: 9.0625rem;
}

.font-146 {
  font-size: 9.125rem;
}

.font-147 {
  font-size: 9.1875rem;
}

.font-148 {
  font-size: 9.25rem;
}

.font-149 {
  font-size: 9.3125rem;
}

.font-150 {
  font-size: 9.375rem;
}

.font-151 {
  font-size: 9.4375rem;
}

.font-152 {
  font-size: 9.5rem;
}

.font-153 {
  font-size: 9.5625rem;
}

.font-154 {
  font-size: 9.625rem;
}

.font-155 {
  font-size: 9.6875rem;
}

.font-156 {
  font-size: 9.75rem;
}

.font-157 {
  font-size: 9.8125rem;
}

.font-158 {
  font-size: 9.875rem;
}

.font-159 {
  font-size: 9.9375rem;
}

.font-160 {
  font-size: 10rem;
}

.font-161 {
  font-size: 10.0625rem;
}

.font-162 {
  font-size: 10.125rem;
}

.font-163 {
  font-size: 10.1875rem;
}

.font-164 {
  font-size: 10.25rem;
}

.font-165 {
  font-size: 10.3125rem;
}

.font-166 {
  font-size: 10.375rem;
}

.font-167 {
  font-size: 10.4375rem;
}

.font-168 {
  font-size: 10.5rem;
}

.font-169 {
  font-size: 10.5625rem;
}

.font-170 {
  font-size: 10.625rem;
}

.font-171 {
  font-size: 10.6875rem;
}

.font-172 {
  font-size: 10.75rem;
}

.font-173 {
  font-size: 10.8125rem;
}

.font-174 {
  font-size: 10.875rem;
}

.font-175 {
  font-size: 10.9375rem;
}

.font-176 {
  font-size: 11rem;
}

.font-177 {
  font-size: 11.0625rem;
}

.font-178 {
  font-size: 11.125rem;
}

.font-179 {
  font-size: 11.1875rem;
}

.font-180 {
  font-size: 11.25rem;
}

.font-181 {
  font-size: 11.3125rem;
}

.font-182 {
  font-size: 11.375rem;
}

.font-183 {
  font-size: 11.4375rem;
}

.font-184 {
  font-size: 11.5rem;
}

.font-185 {
  font-size: 11.5625rem;
}

.font-186 {
  font-size: 11.625rem;
}

.font-187 {
  font-size: 11.6875rem;
}

.font-188 {
  font-size: 11.75rem;
}

.font-189 {
  font-size: 11.8125rem;
}

.font-190 {
  font-size: 11.875rem;
}

.font-191 {
  font-size: 11.9375rem;
}

.font-192 {
  font-size: 12rem;
}

.font-193 {
  font-size: 12.0625rem;
}

.font-194 {
  font-size: 12.125rem;
}

.font-195 {
  font-size: 12.1875rem;
}

.font-196 {
  font-size: 12.25rem;
}

.font-197 {
  font-size: 12.3125rem;
}

.font-198 {
  font-size: 12.375rem;
}

.font-199 {
  font-size: 12.4375rem;
}

.font-200 {
  font-size: 12.5rem;
}

.font-201 {
  font-size: 12.5625rem;
}

.font-202 {
  font-size: 12.625rem;
}

.font-203 {
  font-size: 12.6875rem;
}

.font-204 {
  font-size: 12.75rem;
}

.font-205 {
  font-size: 12.8125rem;
}

.font-206 {
  font-size: 12.875rem;
}

.font-207 {
  font-size: 12.9375rem;
}

.font-208 {
  font-size: 13rem;
}

.font-209 {
  font-size: 13.0625rem;
}

.font-210 {
  font-size: 13.125rem;
}

.font-211 {
  font-size: 13.1875rem;
}

.font-212 {
  font-size: 13.25rem;
}

.font-213 {
  font-size: 13.3125rem;
}

.font-214 {
  font-size: 13.375rem;
}

.font-215 {
  font-size: 13.4375rem;
}

.font-216 {
  font-size: 13.5rem;
}

.font-217 {
  font-size: 13.5625rem;
}

.font-218 {
  font-size: 13.625rem;
}

.font-219 {
  font-size: 13.6875rem;
}

.font-220 {
  font-size: 13.75rem;
}

.font-221 {
  font-size: 13.8125rem;
}

.font-222 {
  font-size: 13.875rem;
}

.font-223 {
  font-size: 13.9375rem;
}

.font-224 {
  font-size: 14rem;
}

.font-225 {
  font-size: 14.0625rem;
}

.font-226 {
  font-size: 14.125rem;
}

.font-227 {
  font-size: 14.1875rem;
}

.font-228 {
  font-size: 14.25rem;
}

.font-229 {
  font-size: 14.3125rem;
}

.font-230 {
  font-size: 14.375rem;
}

.font-231 {
  font-size: 14.4375rem;
}

.font-232 {
  font-size: 14.5rem;
}

.font-233 {
  font-size: 14.5625rem;
}

.font-234 {
  font-size: 14.625rem;
}

.font-235 {
  font-size: 14.6875rem;
}

.font-236 {
  font-size: 14.75rem;
}

.font-237 {
  font-size: 14.8125rem;
}

.font-238 {
  font-size: 14.875rem;
}

.font-239 {
  font-size: 14.9375rem;
}

.font-240 {
  font-size: 15rem;
}

.font-241 {
  font-size: 15.0625rem;
}

.font-242 {
  font-size: 15.125rem;
}

.font-243 {
  font-size: 15.1875rem;
}

.font-244 {
  font-size: 15.25rem;
}

.font-245 {
  font-size: 15.3125rem;
}

.font-246 {
  font-size: 15.375rem;
}

.font-247 {
  font-size: 15.4375rem;
}

.font-248 {
  font-size: 15.5rem;
}

.font-249 {
  font-size: 15.5625rem;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

.font-italiana {
  font-family: italiana;
}

.font-montserrat {
  font-family: montserrat;
}

.space {
  display: block;
  width: 100%;
}

.container {
  width: 1275px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (max-width: 991px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 560px;
  }
}

.header {
  padding: 0.875rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5.5625rem;
  z-index: 10;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-content-logo {
  flex: 2;
}
.header-content-logo .header-logo {
  width: 3.8125rem;
}
.header-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 3.125rem;
}
.header-btn::before {
  content: "";
  display: block;
  width: 4.375rem;
  height: 0.625rem;
  background-color: var(--color-white);
  color: var(--color-white);
  box-shadow: 0 1.25rem, 0 -1.25rem;
}
@media (min-width: 992px) {
  .header-btn {
    display: none;
  }
}
.header-nav {
  flex: 10;
}
@media (max-width: 991px) {
  .header-nav {
    position: fixed;
    width: 100%;
    height: calc(100% - 5.5625rem);
    left: 0;
    top: 5.5625rem;
    background-color: var(--color-black-dark-2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
  .header-nav .nav-link {
    font-size: 2em;
  }
  .header-nav .nav-link:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.header-nav .nav-link {
  padding: 0 0.375rem;
}

html.activeMenu {
  overflow: hidden;
}
html.activeMenu .header {
  background-color: var(--color-black-dark-2);
}
@media (max-width: 991px) {
  html.activeMenu .header-nav {
    transform: none;
  }
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .banner {
    --pl-span:0;
  }
}
.banner-content {
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 4.5625rem var(--ph-movil, 5.625rem) 10.375rem;
  position: relative;
  min-height: 64vh;
}
.banner-fondo {
  display: block;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-fondo-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}
.banner-buttom {
  width: 6.25rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.125rem;
  margin: auto;
  cursor: pointer;
}
.banner-buttom img {
  width: 6.25rem;
}
@media (max-width: 575px) {
  .banner-buttom {
    bottom: 1.25rem;
  }
}
.banner-gradient-1 .banner-content {
  background: transparent;
}
.banner-gradient-1 .banner-content-title {
  color: var(--color-black);
}
.banner-gradient-1 .banner-fondo::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: var(--color-gradient);
  position: absolute;
  z-index: 1;
}
.banner-variation-2 .banner-content {
  background: transparent;
}
.banner-variation-2 .banner-content-title {
  color: var(--color-black);
}
.banner-variation-2 .banner-buttom img {
  filter: brightness(0);
}
.banner-variation-4 .banner-content-title {
  color: var(--color-white);
}

.footer {
  padding: 3.125rem 0;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
}
.footer-content-col {
  flex: 4;
}
@media (max-width: 575px) {
  .footer-content-col {
    flex-basis: 50%;
  }
}
.footer-content-logo {
  flex: 4;
}
@media (max-width: 575px) {
  .footer-content-logo {
    flex-basis: 100%;
    text-align: center;
  }
}
.footer-content-logo img {
  width: 13.6875rem;
}
.footer-content-title {
  margin-bottom: 1.1875rem;
}
.footer-content-link {
  display: block;
  margin-bottom: 1rem;
}

.container-img {
  position: relative;
  min-height: min(1208px, 62vw);
  display: flex;
}
.container-img-fondo, .container-img-fondo-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-img-fondo-img {
  clip-path: polygon(54% 0, 100% 0, 50% 100%, 0% 100%);
}
.container-img-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.container-img-info-title {
  width: min(575px, 100%);
}
.container-img-info-text {
  width: min(632px, 100%);
}
.container-img-info-2 {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.contentInfo-content {
  border-radius: 0 0 1.25rem 1.25rem;
  border: 0;
  padding: 3.9375rem var(--ph-movil, 5.625rem);
}
.contentInfo-title {
  float: left;
  width: 100%;
  max-width: 39.375rem;
}
@media (max-width: 767px) {
  .contentInfo-title {
    float: none;
    max-width: 100%;
  }
}
.contentInfo-variation-3 .contentInfo-content {
  background: var(--color-black-dark-3);
}
.contentInfo-variation-3 .contentInfo-title {
  color: var(--color-white);
}
.contentInfo-variation-3 .contentInfo-info {
  color: var(--color-white);
}
.contentInfo-border .contentInfo-content {
  border-radius: 1.25rem 1.25rem 0 0;
}
.contentInfo-float-left .contentInfo-title {
  float: right;
}

.ItemSlider {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.ItemSlider-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.ItemSlider-title {
  padding-top: 10.75rem;
}
.ItemSlider-img, .ItemSlider-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  z-index: -1;
  display: block;
}
.ItemSlider-btn {
  max-width: 100%;
  width: 36.25rem;
  padding: 1.0625rem;
  border-radius: 3.125rem;
  border-width: 0.3125rem;
  border-style: solid;
  text-align: center;
}

.slider {
  position: relative;
}
.slider, .slider * {
  outline: none;
}
.slider .flickity-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.slider .flickity-button:disabled {
  opacity: 0.3;
}
.slider .flickity-button.previous {
  left: 0;
}
.slider .flickity-button.next {
  right: 0;
  transform: rotateZ(180deg);
}
.slider .flickity-button svg {
  width: 4.6875rem;
  height: auto;
}
.slider .flickity-page-dots {
  display: none;
}
.suscription {
  position: relative;
  padding-top: 12.6875rem;
  padding-bottom: 12.6875rem;
}
.suscription-img, .suscription-img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}
.suscription-title {
  margin-bottom: 6.25rem;
  text-align: center;
}
.suscription-content-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
}
.suscription-content-inputs .void {
  flex: 1;
}
@media (max-width: 767px) {
  .suscription-content-inputs .void {
    flex: 0;
  }
}
.suscription-input {
  position: relative;
  margin-bottom: 3.125rem;
  width: 31.875rem;
  max-width: 100%;
  display: block;
  border-radius: 3.125rem;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 1.0625rem 2.0625rem;
  flex: 6;
}
@media (max-width: 575px) {
  .suscription-input {
    flex-basis: 100%;
  }
}
.suscription-input.submit {
  cursor: pointer;
  flex: 4;
}
@media (max-width: 575px) {
  .suscription-input.submit {
    flex-basis: 100%;
  }
}

.contacts {
  position: relative;
}
.contacts-img, .contacts-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}
.contacts-container {
  display: flex;
  flex-wrap: wrap;
}
.contacts-void {
  flex: 5;
}
.contacts-content {
  flex: 7;
  text-align: right;
}
@media (max-width: 991px) {
  .contacts-content {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .contacts-void {
    flex: 0;
  }
  .contacts-content {
    flex: 12;
  }
}
.contacts-info {
  margin-bottom: 3.125rem;
}
.contacts-input {
  margin-left: auto;
  margin-bottom: 3.125rem;
  width: 31.875rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.125rem;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 1.0625rem 2.0625rem;
}
@media (max-width: 991px) {
  .contacts-input {
    width: 100%;
  }
}
.contacts-input.submit {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.contacts2 {
  position: relative;
}
.contacts2-img, .contacts2-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}
.contacts2-container {
  display: flex;
  flex-wrap: wrap;
}
.contacts2-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0 15px;
}
@media (max-width: 991px) {
  .contacts2-void {
    flex: 0;
  }
  .contacts2-content {
    flex: 12;
  }
}
.contacts2-info {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 4.75rem;
}
.contacts2 .content-submit {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts2-content-input {
  flex: 6;
}
@media (max-width: 991px) {
  .contacts2-content-input {
    flex-basis: 100%;
  }
}
.contacts2 .input-textarea {
  flex: 6;
}
.contacts2-input {
  margin-left: auto;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.125rem;
  border-width: 0.3125rem;
  border-style: solid;
  padding: 1.0625rem 2.0625rem;
}
@media (max-width: 991px) {
  .contacts2-input {
    width: 100%;
  }
}
.contacts2-input.submit {
  width: 31.875rem;
  min-width: 50%;
  max-width: 100%;
  margin: auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contacts2-input.submit {
    width: 100%;
  }
}

.services-content-1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 60rem;
  position: relative;
}
.services-content-1 .container {
  margin-bottom: 0;
}
.services-content-1-title {
  padding-bottom: 9.5rem;
  text-align: center;
}
.services-content-2 {
  padding-bottom: 18.8125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.services-content-2-link-info {
  flex: 4;
  flex-basis: 33.3%;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .services-content-2-link-info {
    flex-basis: 50%;
  }
}
@media (max-width: 575px) {
  .services-content-2-link-info {
    flex-basis: 100%;
  }
}
.services-content-2-link-info::before {
  content: "";
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: var(--color-black);
}
.services-img::before {
  content: "";
  background: var(--color-gradient-2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}
.services-img, .services-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}

.servicesInfo-content {
  margin-bottom: 6.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.servicesInfo-content:nth-child(2n) {
  flex-direction: row-reverse;
}
.servicesInfo-content-imgTitle {
  flex: 6;
}
.servicesInfo-content-imgTitle-title {
  margin-bottom: 2rem;
}
.servicesInfo-content-imgTitle-img {
  display: block;
}
.servicesInfo-content-imgTitle-img img {
  width: 38.4375rem;
  max-width: 100%;
}
.servicesInfo-content-info {
  flex: 6;
}
@media (max-width: 991px) {
  .servicesInfo-content-info {
    display: inline-block;
  }
}

.btnHover, .slider .flickity-button svg {
  transition: 0.5s;
}
.btnHover:hover, .slider .flickity-button svg:hover {
  transform: scale(0.9);
}

.linkHover {
  transition: 0.5s;
}
.linkHover:hover {
  color: var(--color-white-lite-2);
}

/*# sourceMappingURL=style.css.map */
